input {
	height: 40px;
	margin: 5px;
}

button {
	background-color: rgb(150, 0, 0);
	color: azure;
	width: 160px;
	height: 40px;
	border: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 4px;
	margin: 5px 5px;
}

h1 {
	font-family: monospace;
}
